<mat-sidenav-container >
    
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <ul>
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item>
                <i class="material-icons">
                search
                </i>
                Aulas
            </a>
            <a mat-list-item>
                <i class="material-icons">
                 shopping_cart_checkout
                </i>
                Loja
            </a>
        </mat-nav-list>
    </ul>
    </mat-sidenav>
    
</mat-sidenav-container>